
.body2 {

  padding-top: 10px;
}
  
.extra {
      padding-left: 1000px;
    }
    
  .logo{
    height:auto;
    width:auto;
    text-align:center;
  }


  .design {
    height:auto;
    width:auto;
    text-align:center;
  }

  .design form .box {
    width: 600px;
    height:50px;

  }